.banner {
  position: relative;
  background-image: url('@img/bg/main-title.jpg');
  background-size: cover;
  background-position: center;
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.7);
  }
  &__inner {
    position: relative;
    display: flex;
    z-index: 1;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 33.333%;
  }

  &__img {
  }

  &__content {
    width: 66.666%;
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 42px;
    text-transform: uppercase;
    color: $color-white;
  }

  &__subtitle {
    margin-bottom: 15px;
    color: $color-primary-light;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  &__list-item {
    position: relative;
    width: 50%;
    padding: 10px 25px;
    font-size: 21px;
    color: $color-white;
    &::before {
      position: absolute;
      left: 0;
      top: 12px;
      width: 22px;
      height: 22px;
      content: '';
      background-image: url('@img/checkbox.svg');
      background-size: cover;
    }
  }

  &__btn {
    margin-top: 15px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-secondary;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation: pulse 2s infinite;
  }
}

@media (max-width: 991px) {
  .banner {
    &__img-wrapper {
      display: none;
    }

    &__content {
      width: auto;
    }

    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 767px) {
  .banner__list-item {
    width: 100%;
  }
}

@media (max-width: 474px) {
  .banner__title {
    font-size: 34px;
  }
}
