.discount {
  position: relative;
  padding: 45px 0;
  background-image: url('@img/bg/discount.jpg');
  background-size: cover;
  background-position: center;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba($color-white, 0.5);
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 45px;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 1px 1px $color-white;
    color: $color-primary;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px 5px;
    max-width: 350px;
    width: 100%;
    border-radius: 9px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    &:nth-child(1) {
      background-color: #c00;
      .discount__value {
        color: #c00;
      }
    }
    &:nth-child(2) {
      background-color: $color-primary;
      .discount__value {
        color: $color-primary;
      }
    }
    &:nth-child(3) {
      background-color: $color-secondary;
      .discount__value {
        color: $color-secondary;
      }
    }
  }

  &__label {
    font-size: 43px;
    letter-spacing: 5px;
    margin-bottom: 15px;
  }

  &__value {
    font-size: 72px;
    padding: 0 15px;
    border-radius: 5px;
    font-weight: 700;
    display: inline-block;
    background-color: $color-white;
    margin-bottom: 15px;
  }

  &__descr {
    font-size: 21px;
  }
}
