.footer {
  padding: 35px 0;
  text-align: center;
  color: $color-white;
  text-shadow: 0 1px 1px #485861;
  background-color: $color-primary-dark;
}

.scroll-to-top {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: $color-white;
  background: radial-gradient(
    circle,
    rgba($color-white, 1) 0%,
    rgba($color-white, 0) 100%
  );
  z-index: 1000;
  cursor: pointer;
  transition: 0.5s;

  svg {
    width: 37px;
    height: 37px;
    fill: $color-primary;
    transition: 0.3s;
  }

  &:hover {
    background: radial-gradient(
      circle,
      rgba($color-white, 1) 40%,
      rgba($color-white, 0) 100%
    );

    svg {
      fill: $color-primary-dark;
    }
  }
}
