.header {
  padding-top: 35px;
  &__topbar {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    & > * {
      width: 33.333%;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
  }

  &__info-inner {
  }

  &__nav {
    margin-bottom: 30px;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__nav-link {
    color: $color-text-light;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;

    &:hover,
    &:focus {
      transition: 0.5s;
      color: $color-text-dark;
    }
  }

  &__contacts {
  }

  &__contacts-item {
    position: relative;
    padding-left: 20px;

    &--medium {
      font-weight: 500;
    }

    &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      left: 0;
      top: 50%;
      transform: translateY(-55%);
    }
    &--time::before {
      background-image: url('@img/time.svg');
      background-size: cover;
    }
    &--location::before {
      background-image: url('@img/location.svg');
      background-size: cover;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
  }

  &__links-list {
    text-align: right;
  }

  &__links-item {
  }

  &__links-link {
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    color: $color-primary;
    transition: 0.3s;

    &--small {
      font-size: 17px;
    }
    &:hover,
    &:focus {
      color: $color-primary-dark;
    }
  }

  &__links-btn {
    position: relative;
    display: inline-block;
    padding: 2px 10px 2px 26px;
    margin: 2px 0 4px;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-secondary;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s;

    &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      left: 10px;
      top: 50%;
      transform: translateY(-55%);
      background-image: url('@img/phone.svg');
      background-size: cover;
    }

    &:hover,
    &:focus {
      background-color: $color-secondary-dark;
    }
  }

  &__services {
  }

  &__services-list {
    display: flex;
    gap: 10px;
    & > * {
      width: 16.666%;
    }
  }

  &__services-item {
    position: relative;
    padding-bottom: 10px;
    &:hover {
      .header__services-submenu-list {
        display: flex;
      }
    }
  }

  &__services-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 2px;
    background-color: $color-primary-light;
    color: $color-white;
    text-shadow: 0 1px 1px #485861;
    transition: 0.3s;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -200px;
      width: 90px;
      height: 100%;
      transform: skew(-20deg, 0deg);
      opacity: 0.3;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.03) 1%,
        rgba(255, 255, 255, 0.6) 30%,
        rgba(255, 255, 255, 0.85) 50%,
        rgba(255, 255, 255, 0.85) 70%,
        rgba(255, 255, 255, 0.85) 71%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &:hover,
    &:focus {
      background-color: $color-primary;
      &::after {
        left: 130%;
        transition: 0.6s ease-out;
      }
    }
  }

  &__services-img {
    width: 36px;
    height: 36px;
    margin-right: 9px;
  }

  ul &__services-submenu-list {
    position: absolute;
    display: none;
    width: 500px;
    margin-top: 10px;
    padding: 6px 4px;
    background: $color-white;
    border: 3px solid $color-primary-light;
    border-radius: 9px;
    box-shadow: 0 10px 20px -12px rgb(0 0 0 / 32%), 0 3px 20px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    flex-wrap: wrap;
    z-index: 1;
    &::before {
      position: absolute;
      content: '';
      margin-left: 30px;
      top: -22px;
      border: 10px solid transparent;
      border-bottom: 10px solid $color-primary-light;
    }
  }

  &__services-submenu-item {
    width: 50%;
  }

  &__services-submenu-link {
    margin: 2px 5px;
    display: block;
    padding: 5px;
    color: $color-text-light;
    text-shadow: 0 1px 1px $color-white;
    border-radius: 2px;
    &:hover,
    &:focus {
      color: $color-white;
      text-shadow: 0 1px 1px #485861;
      background-color: $color-primary;
    }
  }
}

.logo {
  &__img {
    width: 445px;
  }
}
