@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

@import 'header';
@import 'banner';
@import 'services';
@import 'discount';
@import 'advantages';
@import 'objects';
@import 'gallery';
@import 'steps';
@import 'faq';
@import 'equipment';
@import 'certificates';
@import 'footer';
