.accordion {
  &__item {
    border-bottom: 1px solid #c4c4c4;

    &--active {
      .accordion__item-content {
        display: block;
      }
    }
  }

  &__item-trigger {
  }

  &__item-content {
    padding-bottom: 20px;
    display: none;
    animation: fade 0.3s ease;
  }
}
.trigger {
  &__num {
  }

  &__text {
  }

  &__img {
  }
}
.line1 {
}
.line2 {
}
.content {
  &__text {
    margin-top: 25px;
    padding-left: 35px;
    &:first-child {
      margin-top: 0;
    }
  }
}
